@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>登录 - 统一认证授权中心</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <!-- Logo-->
                <div class="row text-center">
                    <i class="glyphicon glyphicon-cloud login-logo center-block" style="display: inline-block;"></i>
                </div>
                <div class="tab-content">
                    <!-- 登录-->
                    <div class="tab-pane fade active in" id="Login">
                        <div class="c-login">
                            <input type="hidden" id="returnUrl" name="returnUrl" value="@Model.ReturnUrl" />
                            <span class="heading text-primary">登录</span>
                            <div class="form-group">
                                <input type="text" class="form-control" id="username" name="username" placeholder="邮箱/手机号    测试账号:test" value="@Model.UserName" autocomplete="off">
                                <i class="glyphicon glyphicon-user"></i>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" name="password" value="@Model.Password" placeholder="密码   测试密码:123456" autocomplete="off">
                                <i class="glyphicon glyphicon-lock"></i>
                                <span class="preview-password form-control-feedback glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                            </div>
                            <div class="form-group clear-fix">
                                <div class="main-checkbox">
                                    <input type="checkbox" id="remember" name="remember">
                                    <label for="remember"></label>
                                </div>
                                <label class="text text-primary" for="remember">记住我</label>
                                <div style="display: inline-block; margin-top: 5px; float: right;">
                                    <a href="#Register" data-toggle="tab" style="margin-left: auto; margin-right: auto;position: static; font-size: 15px; margin-top: 5px;" aria-expanded="true">
                                        <span>邮箱注册</span>
                                    </a>
                                    <span>/</span>
                                    <a href="#Register" data-toggle="tab" style="margin-left: auto; margin-right: auto;position: static; font-size: 15px; margin-top: 5px;" aria-expanded="true">
                                        <span>手机号注册</span>
                                    </a>
                                </div>
                                <button id="login_btn" class="btn btn-default" style="margin: 5px 0 15px 0;width: 100%;">登录</button>
                            </div>
                            <h4 class="header blue lighter bigger">
                                <i class="ace-icon fa fa-coffee green"></i>
                            </h4>
                            <div class="space-6"></div>
                        </div>
                    </div>

                    <!-- 注册-->
                    <div class="tab-pane fade" id="Register">
                        <div class="c-login form-group">
                            <span class="heading text-primary">邮箱注册</span>
                            <div class="form-group">
                                <input type="text" class="form-control" id="reg_email_nickname" placeholder="昵称" autocomplete="off">
                                <i class="glyphicon glyphicon-th"></i>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="reg_email_username" placeholder="邮箱" autocomplete="off">
                                <i class="glyphicon glyphicon-user"></i>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="reg_email_password" placeholder="密码    至少包含1位数字、小写字母、大写字母" autocomplete="off">
                                <i class="glyphicon glyphicon-lock"></i>
                                <span class="preview-password form-control-feedback glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="reg_email_password2" placeholder="重复密码" autocomplete="off">
                                <i class="glyphicon glyphicon-lock"></i>
                                <span class="preview-password form-control-feedback glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                            </div>
                            <div class="form-group text-center clear-fix">
                                <div style="display: inline-block; margin-top: 5px; float: left;">
                                    <a href="#Login" data-toggle="tab" style="margin-left: auto; margin-right: auto;position: static; font-size: 15px; margin-top: 5px;" aria-expanded="false">
                                        <span>回到登录</span>
                                    </a>
                                </div>
                                <button class="btn btn-default text-center" id="reg_email_btn">注册</button>
                            </div>
                        </div>
                    </div>


                    <!-- 第三方登录 -->
                    @{
                        if (Model.ExternalLoginList != null && Model.ExternalLoginList.Count > 0)
                        {
                            <div class="text-center">
                                <div class="col-sm-12">
                                    <p style="font-size: 22px; position: relative; display: inline-block;width: 100%">
                                        <span style="height: 1px; position: absolute; background-color: #928f8f; width: 28%; top: 50%; left:65%;"></span>
                                        第三方登录
                                        <span style="height: 1px; position: absolute; background-color: #928f8f; width: 28%; top: 50%; right:65%;"></span>
                                    </p>
                                </div>
                                <div class="row" style="padding: 0 0 0 0;">
                                    <div class="form-group col-sm-12">
                                        @foreach (var externalLogin in Model.ExternalLoginList)
                                        {
                                            <a href="@externalLogin.LoginUrl"><i class="glyphicon glyphicon-menu-right"></i>@externalLogin.DisplayName</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="~/js/login.js"></script>
    <footer>
        <div style="margin-top:20px;" class="text-center">
            <span>&copy; @(DateTime.Now.Year)</span>
            <a href="https://github.com/zhangkong828/IdentityServer" target="_blank">IdentityServer</a>
        </div>
    </footer>
</body>
</html>
