@using IdentityServer4.Extensions
@{ string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    } }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 统一认证授权中心</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/web.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="/">IdentityServer</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                @if (User.Identity.IsAuthenticated && !string.IsNullOrEmpty(name))
                {
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <button type="button" class="menu-item btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">设置 - @name <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/user">个人信息</a></li>
                <li><a class="dropdown-item" href="/user/changePassword">更改密码</a></li>
                <li><a class="dropdown-item" href="/grants">授权</a></li>
            </ul>
        </li>
        <li><a class="menu-item btn btn-outline-primary" href="/logout">注销</a></li>
    </ul>}

            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        @RenderBody()

        <footer>
            <div class="row">
                <div class="col-md-6">
                    <small class="text-muted">Copyright &copy; @(DateTime.Now.Year) <a href="https://zhangkong.cloud">zhangkong.cloud</a></small>
                </div>
                <div class="col-md-6">

                </div>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
